{{ item['body'] }}

{%  if item['keywords']['comments_html']|count > 0 %}
<p><b>Comments</b></p>

<table>
{% for comment in item['keywords']['comments_html'] %}
    <tr>
        <td>{{ comment['created'] }}</td>
        <td>{{ comment['author'] }}</td>
        <td>{{ comment['body'] }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
